<nav class="sidebar">

  <div class="logo">
    AutoReserve
  </div>

  <ul>

    <li>
      <a routerLink="/admin/dashboard">
        Dashboard
      </a>
    </li>

    <li>
      <a routerLink="/admin/vehicles">
        Vehicles
      </a>
    </li>

    <li>
      <a routerLink="/admin/bookings">
        Bookings
      </a>
    </li>

    <li>
      <a routerLink="/admin/customers">
        Customers
      </a>
    </li>

    <li>
      <a routerLink="/admin/reports">
        Reports
      </a>
    </li>

  </ul>

</nav>